* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playboard {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  font-size: 1.4em;
}
.gameboard {
  display: flex;
  gap: 50px;
}
